[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=quick-save
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Quick Save!
Comment=Save file at at %userprofile%/%Y-%m-%d.kra
